<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.bit.spring08.model.DeptDao">
  	<select id="findAll" resultType="com.bit.spring08.domain.Dept">
  		select * from dept
  	</select>
  </mapper>